@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+20&display=swap");
:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: linear-gradient(
    to left,
    rgb(4, 60, 4),
    green,
    rgb(19, 27, 19)
  );
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
.container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 10%, #0c0c0c 80%),
    url("../assets/bodyBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.85;
}
header {
  position: absolute;
  width: 300px;
  height: 100vh;
}
#menuNavbar {
  position: absolute;
  top: 37px;
  left: 30px;
  scale: 1;
  width: 30px;
  cursor: pointer;
}
#iconClose {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}
#iconClose:hover {
  transform: scale(1.1);
  background-color: rgba(0, 255, 255, 0.274);
}
.login {
  margin-bottom: 20px;
}
.login #photo {
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px auto;
}
.login #nameUser {
  color: #fff;
}
.navType {
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin: 10px 0;
  border: 3px solid;
  text-align: left;
  padding-left: 10px;
}
.navType:hover {
  height: 100%;
  cursor: pointer;
}
.navType li a {
  text-decoration: none;
  color: rgb(243, 240, 240);
  font: normal 15px helvetica;
  width: 100%;
}
.navType li {
  width: 100%;
  opacity: 0;
  scale: 0;
  cursor: pointer;
  text-indent: 30px;
  margin: 7px 0px;
}
.navType li a:hover {
  text-decoration: solid;
  cursor: pointer;
  background-color: #ffffff57;
  width: 100%;
}
.navType:hover li {
  scale: 1;
  opacity: 1;
}
.navbar {
  scale: 0;
  height: 100%;
  width: 250px;
  margin-right: 40px;
  position: fixed;
  font-family: "Jersey 20", sans-serif;
  color: white;
  text-align: center;
  z-index: 999;
  background-color: #277e7ee5;
}
.logout {
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 10px;
  box-shadow: 0px 0px 3px #fff;
}
.logout img {
  width: 40px;
}
.active-navbar {
  scale: 1;
}
.page_1,
.page_2 {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0px;
  right: 0px;
}
#findMovie {
  width: 40%;
  height: 50px;
  margin: 20px auto;
  border-radius: 40px;
  border: 3px solid gray;
  background-color: #0c0c0c94;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
#findMovie input {
  width: 100%;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 26px;
  color: gray;
  background-color: transparent;
  border: none;
  outline: none;
  caret-color: aqua;
}
#findMovie input::placeholder {
  font-size: 1em;
}
#findMovie img {
  cursor: pointer;
  width: 5%;
}
.page_1 h1 {
  color: rgb(9, 209, 199);
  text-shadow: 0px 0px 3px #fff;
  font: 300 4em "Changa", sans-serif;
  background-color: #ffffff38;
  text-align: center;
  height: 15%;
}
#carosel-movies {
  width: 100%;
  height: calc(100% - 70px);
  text-align: center;
  color: #fff;
  font: normal 200 1.8em "Jersey 20", sans-serif;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
.list-movies {
  width: 297%;
  height: 92%;
  padding: 0 10px;
  list-style: none;
  display: flex;
  gap: 20px;
}
.active-movies {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  width: 100%;
  display: flex;
  padding-left: 20px;
  background-image: linear-gradient(to left, black, rgba(0, 0, 0, 0.508));
  position: relative;
}
.active-movies :where(h2, p) {
  position: absolute;
  right: 10%;
  z-index: 2;
  color: #fff;
  text-shadow: 1px 1px 5px #9c0b0b;
  width: 40%;
}
.active-movies :where(p) {
  position: absolute;
  bottom: 0px;
  height: 50%;
  font-size: 50%;
}
.active-movies :where(h2) {
  position: absolute;
  top: 10%;
  height: 50%;
  font-size: 100%;
}
.active-movies img {
  width: 40%;
  height: 100%;
  margin: 0 10px;
}

.active-movies:hover #theme-initial {
  transform: scale(1.5);
}
.carosel-films-theme {
  height: 100%;
  width: 100%;
  color: #fff;
  position: relative;
  margin: 5px 0;
  padding: 0 10px;
}
.carosel-films-theme h2 {
  width: 100%;
  padding-left: 5px;
  margin: 10px 0px;
  border-radius: 5px;
  font: 500 1.3em "Changa";
  color: green;

}

.page_2 :where(.terror, .action, .lanc) {
  height: 85%;
  width: max(450px, 100%);
  display: flex;
  list-style: none;
  gap: 2%;
  overflow: auto;
}

.page_2 :where(.lanc, .action, .terror) li {
  height: 100%;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 5px;
}
.page_2 :where(.lanc, .action, .terror) li:hover {
  transform: scale(1.1);
}
.page_2 :where(.lanc, .action, .terror) li img {
  height: 90%;
  width: max(80px, 150px);
  border-radius: 5px;
  box-shadow: 0px 0px 3px white;
}
.page_2 :where(.lanc, .action, .terror) li p {
  position: absolute;
  bottom: 22px;
  left: 10px;
  text-shadow: 0px 0px 5px #fff;
}
