@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+20&display=swap");
:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
  background-color: rgb(21, 115, 85);
}
.container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 10%, #0c0c0c 80%),
    url("../assets/bodyBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.85;
}
header {
  position: absolute;
  width: 300px;
  height: 100vh;
}
#menuNavbar {
  position: absolute;
  top: 37px;
  left: 30px;
  scale: 1;
  width: 30px;
  cursor: pointer;
  z-index: 88;
}
#iconClose {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}
#iconClose:hover {
  transform: scale(1.1);
  background-color: rgba(0, 255, 255, 0.274);
}
.login {
  margin-bottom: 20px;
}
.login #photo {
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px auto;
}
.login #nameUser {
  color: #fff;
}
.navType {
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin: 10px 0;
  border: 3px solid;
  text-align: left;
  padding-left: 10px;
}
.navType:hover {
  height: 100%;
  cursor: pointer;
}
.navType li a {
  text-decoration: none;
  color: rgb(243, 240, 240);
  font: normal 15px helvetica;
  width: 100%;
}
.navType li {
  width: 100%;
  opacity: 0;
  scale: 0;
  cursor: pointer;
  text-indent: 30px;
  margin: 7px 0px;
}
.navType li a:hover {
  text-decoration: solid;
  cursor: pointer;
  background-color: #ffffff57;
  width: 100%;
}
.navType:hover li {
  scale: 1;
  opacity: 1;
}
.navbar {
  scale: 0;
  height: 100%;
  width: 250px;
  margin-right: 40px;
  position: fixed;
  font-family: "Jersey 20", sans-serif;
  color: white;
  text-align: center;
  z-index: 999;
  background-color: #277e7ee5;
}
.logout {
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 10px;
  box-shadow: 0px 0px 3px #fff;
}
.logout img {
  width: 40px;
}
.active-navbar {
  scale: 1;
}
.page_1,
.page_2,
.page_3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#findMovie {
  width: max(250px, 40%);
  height: 50px;
  margin: 20px auto;
  border-radius: 40px;
  border: 3px solid gray;
  background-color: #0c0c0c94;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
#findMovie input {
  width: 100%;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 100%;
  color: gray;
  background-color: transparent;
  border: none;
  outline: none;
  caret-color: aqua;
}
#findMovie input::placeholder {
  font-size: max(15px, 1.2vw);
}
#findMovie img {
  cursor: pointer;
  width: 5%;
}
.page_1 h1 {
  color: rgb(9, 209, 199);
  text-shadow: 0px 0px 3px #fff;
  font: 300 4em "Changa", sans-serif;
  background-color: #ffffff38;
  text-align: center;
  height: 15%;
}
#carosel-movies {
  width: 100%;
  height: calc(100% - 70px);
  text-align: center;
  color: #fff;
  font: normal 200 1.8em "Jersey 20", sans-serif;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}
.list-movies {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  list-style: none;
  display: flex;
  gap: 20px;
  position: relative;
}
.active-movies {
  min-width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  width: 100%;
  display: flex;
  padding-left: 20px;
  position: relative;
}
.active-movies :where(h2, p) {
  position: absolute;
  right: 10%;
  color: #fff;
  text-shadow: 1px 1px 5px #9c0b0b;
  width: 40%;
}
.active-movies :where(p) {
  position: absolute;
  bottom: 0px;
  height: 50%;
  font-size: 50%;
}
.active-movies :where(h2) {
  position: absolute;
  top: 10%;
  height: 50%;
  font-size: 100%;
}
.active-movies img {
  width: 40%;
  height: 100%;
  margin: 0 10px;
}

.active-movies:hover #theme-initial {
  transform: scale(1.5);
}
.carosel-films-theme {
  height: 25%;
  width: 100%;
  color: #fff;
  margin: 25px 0;
  padding: 5px 10px;
  position: relative;
}
.carosel-films-theme h2 {
  height: 20%;
  width: 100%;
  padding-left: 5px;
  margin: 10px 0px;
  border-radius: 5px;
  font: 500 1.3em "Changa";
  color: green;
  background-image: linear-gradient(
    to left,
    rgba(255, 253, 253, 0.071),
    rgb(255, 255, 255)
  );
}

.page_2 :where(.terror, .action, .lanc) {
  padding: 0 10px;
  height: 100%;
  display: flex;
  list-style: none;
  gap: 10px;
  overflow: hidden;

}

.page_2 :where(.lanc, .action, .terror) li {
  height: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 5px;
}
/* .page_2 :where(.lanc, .action, .terror) li:hover {
  transform: scale(1.03);
} */
.page_2 :where(.lanc, .action, .terror) li img {
  height: 100%;
  width: max(80px, 150px);
  border-radius: 5px;
  box-shadow: 0px 0px 3px white;
}
/* .page_2 :where(.lanc, .action, .terror) li p {
  position: absolute;
  top: 22px;
  left: 5px;
  box-shadow: 0px 0px 5px #fff;
} */
.page_3 {
  background-image: linear-gradient(to top, black, #000000, #00000000);
  min-height: max(450px, 70%);
}
#contact {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  gap: 10%;
  position: relative;
  padding-top: 50px;
  font-size: 60%;
}
.infomation-left,
.infomation-right {
  padding-top: 20px;
  height: max(530px, 100%);
  width: max(420px, 100%);
  display: flex;
  flex-direction: column;

  align-items: center;
  color: #fff;
}
.page_3 h3 {
  width: 100%;
  position: absolute;
  top: 0px;
  font: 500 3.3em "Changa";
  color: #ffffffa1;
}
.acess-image {
  width: max(350px, 100%);
  text-align: center;
}
.info-address p {
  font-size: 1.2em;
  text-align: center;
  height: 100%;
}
.acess-image img {
  height: 50%;
  transition: all 0.2s ease;
  cursor: pointer;
}
.acess-image img:hover {
  transform: scale(1.2);
}
#acess-data {
  margin-top: 10%;
  height: 50%;
  list-style: none;
  float: left;
  padding: 5px;
  font-size: 1.5em;
}
#acess-data ul {
  height: 80px;
  list-style: none;
  padding: 5px;
}
#acess-data ul li {
  float: left;
  padding: 2px;
}
.btn {
  width: 50px;
  height: 100%;
  position: absolute;
  cursor: pointer;
  bottom: 5%;
  top: 30%;
}
.btn img {
  width: 30px;
  transition: all 0.2s ease;
}
.btn:active img {
  transform: scale(1.3);
}
.btn-action-left {
  left: 7px;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    black,
    rgba(0, 0, 0, 0.863),
    rgba(0, 0, 0, 0.034)
  );
}
.btn-action-right {
  right: 7px;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.034),
    rgba(0, 0, 0, 0.863),
    black
  );
}
.btn-action-right,
.btn-action-left {
  border: none;
  outline: none;
}
.current-item {
  border: 3px solid white;
}
